img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.biryani-img{
    width:30%;
}

.samosa-img{
    width:50%;
}

.vadapav-img{
    width:40%;
}

body{
    font-family: Comic Sans MS, Comic Sans, cursive;
}